@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="position: relative;">
    <div style="position: absolute; top: 25%;left: 25%;color:white; " class="text-center">
    </div>
    <div style="width:100%; height:auto; margin-top:30px">
        <img style="width:100%" src="https://images.pexels.com/photos/2422290/pexels-photo-2422290.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Happy People" />  
    </div>
</div>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

